#!/bin/sh

APPDIR={{ app_dir }}

# Activate the virtual environment.
cd $APPDIR
. ../bin/activate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
C_FORCE_ROOT=yes exec celery -A tasks worker -E -l info --concurrency=2 --hostname celery@ -Q celery

