#!/bin/sh

APPDIR={{ app_dir }}

# Activate the virtual environment.
cd $APPDIR
. ../bin/activate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec celery -A tasks beat -s {{ logs_dir }}/celerybeat-schedule.db -l info --max-interval 500

