#!/bin/sh

NAME="{{ app_name }}"
APPDIR="{{ app_dir }}"
SOCKFILE={{ base_dir }}/run/gunicorn.sock
USER={{ app_user }}
GROUP={{ app_group }}
NUM_WORKERS=5

# Set this to 0 for unlimited requests. During development, you might want to
# set this to 1 to automatically restart the process on each request (i.e. your
# code will be reloaded on every request).
MAX_REQUESTS=5

echo "Starting $NAME as `whoami`"

# Activate the virtual environment.
cd $APPDIR
. {{ base_dir }}/bin/activate

# Create the run directory if it doesn't exist.
RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec gunicorn \
    --name $NAME \
    --workers $NUM_WORKERS \
    --max-requests $MAX_REQUESTS \
    --timeout {{ gunicorn_timeout_seconds|default(30) }} \
    --user $USER --group $GROUP \
    --log-level debug \
    --bind unix:$SOCKFILE \
    --chdir {{ app_dir }} \
    app:app

