{% for worker in celery_workers %}
[program:celery-{{ worker.name }}]
command={{ base_dir }}/scripts/celery_start {{ worker.name }} {{ worker.queue }} {{ worker.concurrency }} {{ worker.log_level }}

autostart=true
autorestart=true

user={{ app_user }}

stdout_logfile={{ logs_dir }}/celery-{{ worker.name }}.log
redirect_stderr = true

{% endfor %}


[program:flower]
command={{ base_dir }}/scripts/flower_start

autostart=true
autorestart=true
user={{ app_user }}

stdout_logfile={{ logs_dir }}/flower.log
redirect_stderr = true


[program:celery-beat]
command={{ base_dir }}/scripts/celery_beat_start

autostart=true
autorestart=true
user={{ app_user }}

stdout_logfile={{ logs_dir }}/celery-beat.log
redirect_stderr = true


[program:gunicorn]
command={{ base_dir }}/scripts/gunicorn_start

autostart=true
autorestart=true
user={{ app_user }}

stdout_logfile={{ logs_dir }}/gunicorn.log
redirect_stderr = true



[group:celery] 
{% set comma = joiner(",") %}programs={% for worker in celery_workers %}{{ comma() }}celery-{{ worker.name }}{% endfor %} 
